
<!-- Full Page Image Background Carousel Header -->
    <div id="myCarousel" class="carousel slide carousel-home">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                  <div class="container">
                    <div class="col-md-6 stream-opportunities">
                      <h1>Viajes que dejan huella</h1>
                      <%= link_to "Conoce Más", "#conoce-más",
                class: "button button-primary scroll" %>
                    </div> <!-- col end -->
                  </div> <!-- container end -->
            </div>

            <div class="item">
                  <div class="container">
                    <div class="col-sm-8 col-sm-offset-4 stream-opportunities">
                      <h2>Experiencias</h2>
                    </div> <!-- col end -->
                  </div> <!-- container end -->
            </div>

            <div class="item">
                  <div class="container">
                    <div class="col-sm-6 col-sm-offset-6 stream-opportunities">
                      <h2>Nuestros Tours</h2>
                    </div> <!-- col end -->
                  </div> <!-- container end -->
            </div>

             <div class="item">
                  <div class="container">
                    <div class="col-sm-6 col-sm-offset-6 stream-opportunities">
                      <h2>Proyectos</span></h2>
                    </div> <!-- col end -->
                  </div> <!-- container end -->
            </div>
        </div>
  </div> <!-- end my carousel -->


<section>
  <div class="container center">
    <h3>Con Ciklos Travel podrás vivir <span class="bold">experiencias</span> que te cambian la vida. Nuestros <span class="bold">tours</span> están hechos no sólo para que disfrutes, sino para que, a través de tu viaje, <br> apoyes <span class="bold">proyectos</span> de desarrollo cultural y educativo <br> en distintas áreas de Guatemala.</h3>
  </div>
</section>

<%= render 'layouts/experiencias' %>


<section class="center">
  <div class="container">
    <h2>Tours</h2>
    <p>
      Haz click en un tour para descubrir más detalles.
    </p>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "tour-1.jpg", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4">
        <%= image_tag "tour-2.jpg", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4">
        <%= image_tag "tour-3.jpg", class: "img-responsive center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "tour-4.jpg", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4">
        <%= image_tag "tour-5.jpg", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4">
        <%= image_tag "tour-6.jpg", class: "img-responsive center-block" %>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary white-letters center">
  <div class="container">
    <h2>Proyectos que apoyamos</h2>
    <p></p>
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag "", class: "img-responsive center-block" %>
        <p>Educación</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag "", class: "img-responsive center-block" %>
        <p>Reforestación</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag "", class: "img-responsive center-block" %>
        <p>Medio Ambiente</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag "", class: "img-responsive center-block" %>
        <p>Cultura</p>
      </div>
    </div>
  </div>
</section>

<section id="acerca-de-ciklos", class="center">
  <div class="container">
    <h2>Acerca de Ciklos Travel</h2>
    <%= image_tag "", class: "img-responsive center-block" %>
  </div>
</section>
