
<!-- Full Page Image Background Carousel Header -->
    <div id="myCarousel" class="carousel slide carousel-home">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                  <div class="container">
                    <div class="col-sm-6 stream-opportunities">
                      <h1>Viajes que dejan huella</h1>
                    </div> <!-- col end -->
                  </div> <!-- container end -->
            </div>

            <div class="item">
                  <div class="container">
                    <div class="col-sm-8 col-sm-offset-4 stream-opportunities">
                      <h2>Do you believe that <span class="bold">character</span> still matters?</h2>
                    </div> <!-- col end -->
                  </div> <!-- container end -->
            </div>

            <div class="item">
                  <div class="container">
                    <div class="col-sm-6 col-sm-offset-6 stream-opportunities">
                      <h2>Do you believe that <span class="bold">learning to be</span> and <span class="bold">learning to do</span> are more important than textbooks alone?</h2>
                    </div> <!-- col end -->
                  </div> <!-- container end -->
            </div>

             <div class="item">
                  <div class="container">
                    <div class="col-sm-6 col-sm-offset-6 stream-opportunities">
                      <h2>Then perhaps the <br class="hidden-xs"><span class="bold"> Acton Academy</span> is for <br class="hidden-xs"> <span class="bold">you</span> and <span class="bold">your family</span></h2>
                    </div> <!-- col end -->
                  </div> <!-- container end -->
            </div>
        </div>
        <%= link_to raw(image_tag("arrow.png", class: "arrow-rotate")) + "<br>".html_safe + "Learn More", "#acton-statement", class: "scroll see-more" %>
  </div> <!-- end my carousel -->


<section>
  <div class="container center">
    <p>Ofrecemos viajes.. </p>
  </div>
</section>

<section id="experiencias", class="bg-grey center">
  <div class="container">
    <h2>Experiencias</h2>
    <p></p>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "", class: "img-responsive center-block" %>
      </div>
    </div> <!-- end row 1 -->
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "", class: "img-responsive center-block" %>
      </div>
    </div> <!-- end row 2 -->
  </div>
</section>

<section class="center">
  <div class="container">
    <h2>Tours</h2>
    <p>
    </p>
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "coach.png", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4">
        <%= image_tag "coach.png", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4">
        <%= image_tag "coach.png", class: "img-responsive center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "coach.png", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4">
        <%= image_tag "coach.png", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4">
        <%= image_tag "coach.png", class: "img-responsive center-block" %>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary white-letters center">
  <div class="container">
    <h2>Proyectos que apoyamos</h2>
    <p></p>
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag "", class: "img-responsive center-block" %>
        <p>Educación</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag "", class: "img-responsive center-block" %>
        <p>Reforestación</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag "", class: "img-responsive center-block" %>
        <p>Medio Ambiente</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag "", class: "img-responsive center-block" %>
        <p>Cultura</p>
      </div>
    </div>
  </div>
</section>

<section id="acerca-de-ciklos", class="center">
  <div class="container">
    <h2>Acerca de Ciklos Travel</h2>
    <%= image_tag "", class: "img-responsive center-block" %>
  </div>
</section>
